@font-face {
    font-family: 'Gilroy Light';
    src: local('Gilroy Light'), url("/Users/chaitanyakhandare/Library/Fonts/Gilroy-Light.otf") format('truetype');
}

:root {
    --primarycolor: #ff4f5a;
    --backgroundcolor: #FFEADD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'FuturaBT-medium';
    background-color: var(--backgroundcolor);
    -webkit-font-smoothing: antialiased;
}

#nav-logo {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}

#nav-logo span {
    color: white;
    font-size: 2.4vw;
}

.main {
    height: 100%;
    width: 100%;
    position: relative;
}

.nav {
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    color: black;
    /* border-bottom: 1.5px solid black; */
    background-color: var(--primarycolor);
}

.nav span {
    color: white;
    font-size: 2.5vw;
}

.nav h2 {
    font-size: 1.8vw;
    font-weight: 700;
    color: white;
}

.nav h4 {
    cursor: pointer;
    padding: 0.7vw 2vw;
    color: white;
    background-color: var(--primarycolor);
    font-size: 1vw;
    font-weight: 700;
    border: 1px solid white;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
    margin: 0vw 1vw;
}

.nav h4:hover {
    border: none;
    color: var(--primarycolor);
    background-color: var(--backgroundcolor);
}

.nav i {
    font-size: 1.6vw;
    font-weight: 600;
    display: none;
}

.nav-part2 {
    display: flex;
    align-items: center;
    gap: 0.2vw;
    cursor: pointer;
}



/* C O N T E N T  */

.content {
    height: calc(100% + 90px);
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* HOME Page */

.home-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-left {
    height: calc(100% - 90px);
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw 1vw;
    padding: 1vw 1vw;
}

.home-left img {
    width: 80%;
}

.home-right {
    height: calc(100% - 90px);
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2vw 1vw;
    padding: 3vw 5vw 1vw 5vw;
    gap: 1vw;
}

.home-right hr {
    width: 50%;
    margin: 1.1vw 0vw;
    border: var(--primarycolor) 2px solid;
    border-radius: 20px;
}


#home-main-heading {
    font-size: 3.5vw;
    font-weight: 700;
    line-height: 5vw;
}

#home-welcome {
    font-size: 1.6vw;
    font-weight: 700;
}

#home-normal-text {
    font-size: 1.2vw;
    line-height: 2vw;
    font-weight: 100;
}

.bot-buttons h4 {
    width: 35%;
    cursor: pointer;
    padding: 0.7vw 2vw;
    color: var(--primarycolor);
    background-color: var(--backgroundcolor);
    font-size: 1vw;
    font-weight: 700;
    border: 1px solid var(--primarycolor);
    border-radius: 8px;
    transition: 0.2s ease-in-out;
    margin: 1vw 0vw;
}

.bot-buttons h4:hover {
    border: none;
    color: white;
    background-color: var(--primarycolor);
}



/* Medical Diagnose Page */

.bot-info {
    width: 80%;
    height: 2vw;
    margin: 3vw 6vw 5vw 7vw;
    font-size: 1.7vw;
    color: rgb(32, 32, 32);
}

.medical-container {
    height: 90%;
    padding: 0vw 5vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.medical-left {
    width: 50%;
    margin: 0vw 5vw 0vw 0vw;
}

.medical-left #normal-text-medical {
    display: inline-block;
}

.medical-title {
    color: var(--primarycolor);
    font-size: 1.6vw;
    margin: 1vw 0vw;
}

.input-fields {
    font-size: 1.2vw;
    border: 1.5px solid black;
    border-radius: 15px;
    padding: 2vw 1vw;
}

.input-name {
    margin: 0vw 2vw;
}

.input-age {
    margin: 2vw;
}

.input-gender {
    margin: 2vw;
}

.input-symptoms {
    margin: 2vw;
    display: flex;
}

.input-duration {
    margin: 2vw;
}

.input-severity {
    margin: 2vw;
}



.input-name-css {
    height: 2.5vw;
    width: 18vw;
    padding: 1vw 1vw;
    margin: 0vw 1vw;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: 550;
    font-size: 1.3vw;
    border-radius: 10px;
    border: 1px solid black;
}

.input-number-css {
    height: 2.5vw;
    width: 5vw;
    padding: 1vw 1vw;
    margin: 0vw 1vw;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: 600;
    font-size: 1vw;
    border-radius: 10px;
    border: 1px solid black;
}

.input-symptoms-css {
    height: 6vw;
    width: 18vw;
    padding: 1vw 1vw;
    margin: 0vw 1vw;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: 700;
    font-size: 1vw;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid black;
    word-wrap: break-word;
}

.input-select-css {
    height: 2.5vw;
    width: 10vw;
    padding: 0.4vw 0.7vw;
    border-radius: 10px;
    margin: 0vw 1vw;
    font-size: 1vw;
}

.input-submit-button {
    cursor: pointer;
    padding: 0.7vw 2vw;
    color: var(--primarycolor);
    background-color: var(--backgroundcolor);
    font-size: 1vw;
    font-weight: 700;
    border: 1px solid var(--primarycolor);
    border-radius: 8px;
    transition: 1ms ease-in;
    margin: 0vw 2vw;
}

.input-submit-button:hover {
    background-color: var(--primarycolor);
    color: white;
    font-weight: 700;
    transition: 0.2s ease-in-out;
}

.medical-right {
    width: 40%;
}

.medical-right img {
    width: 100%;
}

#diag-result-text {
    width: 80%;
    margin: 5vw 7vw 0vw 7vw;
    font-size: 1.6vw;
    color: rgb(32, 32, 32);
}

.diagnosis-output {
    margin: 1vw 0vw 5vw 0vw;
    padding: 1vw 3vw;
    display: flex;
    justify-content: center;
    align-items: start;
}

.diagnosis-actual-output {
    width: 55%;
    margin: 1vw 4vw 5vw 4vw;
    padding: 2vw 3vw;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 1.3vw;
}

.diagnosis-output-image {
    width: 40%;
}

.diagnosis-output-image img {
    width: 80%;
}


/* Support Page */

.support-page {
    height: 100%;
    display: flex;
}

.support-info {
    height: 90%;
    width: 50%;
    margin: 3vw 0vw 5vw 7vw;
    padding: 2vw 1vw;
    font-size: 1.4vw;
    color: rgb(32, 32, 32);
}

.support-info p {
    font-size: 2vw;
    font-weight: 700;
}

.support-info div {
    display: flex;
    align-items: center;
    gap: 1.5vw;
    margin: 1.5vw 0vw;
}

.support-info span {
    font-size: 3vw;
    color: var(--primarycolor);
}


.support-right {
    width: 40%;
    height: 100%;
    margin: 3vw 5vw 5vw 1vw;
    padding: 2vw 3vw;
}

.support-right-bot {
    font-size: 1.4vw;
    width: 90%;
    height: 100%;
    padding: 2vw 3vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 2px solid black;
    border-radius: 18px;
    gap: 1vw;
}

.support-right-bot textarea {
    height: 9vw;
    width: 90%;
    padding: 1vw 1vw;
    margin-bottom: 0.7vw;
    border-radius: 15px;
}

.support-right-bot button {
    width: 90%;
    cursor: pointer;
    padding: 0.6vw 1.5vw;
    color: var(--primarycolor);
    background-color: var(--backgroundcolor);
    font-size: 1vw;
    font-weight: 700;
    border: 1px solid var(--primarycolor);
    border-radius: 8px;
    transition: 1ms ease-in;
}

.support-right-bot button:hover {
    background-color: var(--primarycolor);
    color: white;
    font-weight: 700;
    transition: 0.2s ease-in-out;
}

.any-bot-output {
    width: 90%;
    border-radius: 15px;
    border: 1.5px black solid;
    margin: 0vw 0vw 1vw 0vw;
    padding: 1vw 1vw;

}

.any-bot-output p {
    font-size: 1.1vw;
    color: rgb(39, 39, 39);
}

/* feedback form */

.feedback-form {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3vw 0vw 3vw 0vw;
    padding: 3vw 6vw;
}

.actual-feedback-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 60%;
    margin: 1vw 0vw;
    padding: 2vw 3vw;
    border: 2px solid black;
    border-radius: 15px;
    gap: 1vw;
    font-size: 1.3vw;
}

#feedback-full-name {
    display: inline-block;
}

.actual-feedback-form p {
    font-size: 2vw;
    margin: 0vw 0vw 1.2vw 0vw;
}

.actual-feedback-form textarea {
    height: 16vh;
    width: 22vw;
}

.actual-feedback-form button {
    width: 90%;
}



/* About Page  */

.about-page {
    margin: 2vw 0vw;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1vw;
}

.member-1 {
    width: 24%;
    height: 75%;
    margin: 3vw 2vw;
    border-radius: 15px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4);
    background-color: #FFEADD;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    color: black;
    border: 2px solid black;
}

.member-1 hr {
    width: 25%;
    margin-bottom: 1vw;
    border: 2px solid var(--primarycolor);
    border-radius: 30px;
}

.member-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.img-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img {
    width: 50%;
    margin: 2vw 0vw;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.4);
}

.member-1 h4 {
    font-size: 1.6vw;
    margin-bottom: 0.5vw;
}

.member-1 p {
    font-size: 1.1vw;
}

.div-linkedin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-linkedin span {
    color: #0088d1;
    font-size: 1.2vw;
}

#linkedin-icon {
    width: 2vw;
}


/* REPORT PAGE */

.report-page {
    width: 100%;
    height: 100%;
    margin: 2vw 0vw;
    padding: 0vw 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.report-form {
    width: 45%;
    height: 100%;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vw;
}

.report-form p {
    font-size: 2vw;
    margin: 1vw 2vw;
    font-weight: 700;
}

.report-form button {
    width: 9vw;
}

.report-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vw 2vw;
}

.report-right span {
    font-size: 2vw;
    vertical-align: -7px;
    margin-right: 0.5vw;
}

.report-right p {
    font-size: 1.5vw;
    margin: 1vw 0vw 1vw 0vw;
    font-weight: 700;
}

.report-right li {
    margin: 0.4vw 0vw;
}



/* Footer copyright */

footer {
    margin-top: 5px;
}

.foot-panel-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: var(--primarycolor);
    font-size: 10px;
    color: white;

}

.foot-panel-4 ul {
    display: inline-block;
    list-style-type: none;
}

.foot-panel-4 ul li {
    display: inline-block;
    margin-left: 14px;
    cursor: pointer;
}

.foot-panel-4 span {
    display: block;
    margin: 4px;
}


/*  M E D I A QUERIES */

@media (max-width: 600px) {

    /* Navbar */

    .content {
        height: calc(100% - 80px);
    }

    .nav {
        height: 80px;
    }
    .nav h2 {
        font-size: 3.5vw;
    }

    #nav-logo {
        margin-left: 2vw;
        gap: 0vw;
    }
    #nav-logo span {
        font-size: 5.5vw;
    }

    .nav h4 {
        font-size: 1.5vw;
    }

    .nav span {
        font-size: 5vw;
    }

    /* Home Page */
    .home-page {
        height: 120%;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .home-left {
        width: 90%;
    }

    .home-right {
        width: 90%;
        margin: 3vw 1vw;
        padding: 5vw 5.5vw 2vw 5.5vw;
    }

    .home-right hr {
        margin: 2.3vw 0vw;
        width: 40%;
    }

    #home-main-heading {
        font-size: 7vw;
        line-height: 10vw;
        margin-top: 1vw;
        padding-top: 3vw;
    }

    #home-welcome {
        font-size: 4.8vw;
        margin: 1.8vw 0vw;
    }

    #home-normal-text {
        font-size: 4vw;
        line-height: 6vw;
        padding: 2vw 1vw;
    }

    .bot-buttons h4 {
        width: 50%;
        font-size: 3vw;
        padding: 2.5vw 3vw;
        margin-bottom: 4vw;

    }


    /* Medical Diagnose Page */

    .content:has(.medical-container) {
        height: 180%;
    }

    .bot-info {
        width: 95%;
        height: 28%;
        margin: 3vw 3vw;
        padding: 4vw 8vw 4vw 7vw;
        font-size: 5.5vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .medical-container {
        width: 100%;
        height: 60%;
        flex-direction: column;
        justify-content: start;
    }

    .medical-left {
        width: 90%;
        margin: 1vw 4vw;
    }
    .medical-title {
        font-size: 4.5vw;
        margin: 2vw 0vw;
    }

    .input-fields {
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4);
        padding: 7vw 3vw 6vw 5vw;
    }
    .medical-left #normal-text-medical {
        display: none;
    }
    
    .medical-left .input-name-css {
        height: 12vw;
        width: 92%;
        border-radius: 8px;
        padding: 1vw 3vw;
        font-size: 3.5vw;
        font-weight: 700;
    }
    
    .medical-left .input-number-css {
        height: 9vw;
        width: 40%;
        border-radius: 8px;
        padding: 1vw 3vw;
        font-size: 3.5vw;
        font-weight: 700;
    }

    .medical-left .input-select-css {
        height: 10vw;
        width: 92%;
        border-radius: 8px;
        padding: 2vw 3vw;
        font-size: 3vw;
        font-weight: 700;
    }

    .medical-left .input-symptoms-css {
        height: 25vw;
        width: 92%;
        border-radius: 8px;
        padding: 3vw 3vw;
        font-size: 3.5vw;
        font-weight: 700;
    }
    
    .medical-left #duration {
        height: 9vw;
        width: 92%;
        border-radius: 8px;
        padding: 2vw 3vw;
        font-size: 2.8vw;
        font-weight: 700;
    }
    
    .input-submit-button {
        height: 9vw;
        width: 86%;
        padding: 2vw 3vw;
        margin: 1vw 1vw 1vw 3vw;
        font-size: 3vw;
    }


    .medical-right {
        width: 90%;
    }

    #diag-result-text {
        font-size: 3.5vw;
        margin-left: 10vw;
    }

    .diagnosis-output {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .diagnosis-actual-output {
        width: 85%;
        border-radius: 9px;
        font-size: 4vw;
    }

    .diagnosis-output-image {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    /* Support P A G E */

    .content:has(.support-page) { /* VERY IMP :has */
        height: calc(250%);
    }

    .support-page {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .support-info {
        width: 85%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 3vw 1.5vw 6vw 1.5vw;
        padding: 2vw 2vw 1vw 2vw;
        font-size: 5vw;
        line-height: 7vw;
    }
    .support-info p {
        font-size: 7vw;
        margin: 2vw 0vw 3vw 0vw;
        padding: 2vw 0vw;
    }
    .support-info span {
        font-size: 8vw;
        margin: 1vw 0vw;
        padding: 0vw 2vw;
        color: var(--primarycolor);
    }
    
    .support-right {
        width: 90%;
        height: 140%;
        margin: 4vw 1vw 1vw 1vw;
        padding: 3vw 1vw;
        display: flex;
        justify-content: center;
    }

    .support-right-bot {
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4);
        height: 100%;
        padding: 5vw 5vw 5vw 8vw;
        font-size: 5.5vw;
        gap: 1vw;
    }
    .support-right-bot form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 3vw;
    }
    .support-right-bot textarea {
        height: 40vw;
        border-radius: 10px;
        font-size: 3.5vw;
        padding: 2vw 3vw;
    }
    .support-right-bot button {
        margin: 3vw 0vw 2vw 0vw;
        font-size: 3.5vw;
        padding: 2vw 0vw;
    }
    
    .any-bot-output {
        height: 40%;
        width: 90%;
        padding: 2vw 3vw;
        font-size: 3.5vw;
        border-radius: 10px;
    }
    .any-bot-output p {
        font-size: 3.5vw;
    }
    
    /* Support - Feedback Form */
    .feedback-form {
        height: 30%;
        width: 100%;
    }
    
    .actual-feedback-form {
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4);
        width: 90%;
        font-size: 5vw;
        padding: 4vw 4vw;
        justify-content: start;
    }
    .actual-feedback-form p {
        margin: 2vw 1vw 4vw 3vw;
        font-size: 5.5vw;
    }
    .actual-feedback-form .input-name-css {
        height: 9vw;
        width: 95%;
        padding: 1vw 3vw;
        border-radius: 5px;
        font-size: 3.5vw;
        font-weight: 700;
    }
    
    .actual-feedback-form textarea {
        height: 16vh;
        width: 95%;
        padding: 3vw 3vw;
        font-size: 3.5vw;
        font-weight: 700;
    }

    .actual-feedback-form button {
        width: 90%;
        margin-left: 3vw;
        margin-bottom: 3vw;
        font-size: 3.5vw;
        padding: 2vw 0vw;
    }
    
    
    #feedback-full-name {
        display: none;
    }
    #feedback-describe {
        display: none;
    }


    /* About Page */

    .about-page {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 0vw;
    }


    .member-1 {
        height: 18vh;
        width: 85%;
        flex-direction: row;
        justify-content: center;
        gap: 0vw;
    }

    .img-div {
        width: 45%;
    }
    .profile-img {
        width: 70%;
    }

    .member-1 hr {
        width: 30%;
        margin-top: 0.8vw;
        margin-bottom: 1.5vw;
        border: 1.4px solid var(--primarycolor);
    }

    .member-info {
        width: 50%;
        padding-right: 2vw;
    }
    .member-info h4 {
        display: flex;
        font-size: 3.6vw;
    }
    .member-info p {
        font-size: 2.4vw;
    }

    .div-linkedin {
        margin-top: 1vw;
    }
    .div-linkedin span {
        font-size: 2.4vw;
    }
    #linkedin-icon {
        width: 4vw;
    }
    


    
    /* Report Page */

    .content:has(.report-page) { /* VERY IMP :has */
        height: calc(100% + 100px);
    }

    .report-page {
        flex-direction: column;
        height: 100%;
    }

    .report-form {
        width: 90%;
        height: 40%;
        justify-content: center;
        margin-top: 5vw;
        margin-bottom: 5vw;
    }
    
    .report-form .input-name-css {
        height: 6vw;
        width: 35vw;
        font-size: 3.5vw;
        margin: 0vw 2.5vw;
        padding: 2vw 3vw;
        font-weight: 700;
    }

    .report-form .input-symptoms {
        margin-bottom: 0vw;
    }
    .report-form .input-symptoms-css {
        width: 35vw;
        height: 15vw;
        font-size: 2.5vw;
        padding: 2vw 3vw;
        font-weight: 600;
        margin-left: 2vw;
    }

    .report-form p {
        font-size: 6vw;
        margin-top: 2vw;
        margin-bottom: 2.5vw;
    }
    .report-form div {
        font-size: 4vw;
    }
    .report-form button {
        width: 23vw;
        height: 6.5vw;
        font-size: 3vw;
    }


    .report-right {
        width: 85%;
        height: 60%;
        margin: 3vw 0vw 0vw 0vw;
    }
    .report-right span {
        font-size: 5.4vw;
    }
    .report-right p {
        font-size: 4.5vw;
    }
    .report-right ul {
        margin-left: 4vw;
    }
    .report-right li {
        font-size: 3.5vw;
    }

    #report-normal-text {
        font-size: 3.5vw;
        font-weight: 500;
    }




    
}   /* End of Media Queries */









