{% extends "index.html" %}

{% block body %}


<div class="about-page">

    <div class="member-1">
        <img src="https://drive.google.com/uc?export=view&id=18F1J-tSwQjK-dR7XGbDQG71Wu_LNgfiQ" alt="" class="profile-img">
        <h4>Shirish Singh</h4>
        <hr>
        <p>Undergrad CSE @ MITWPU, Pune</p>
        <p>Currently in 2nd year</p>

        <a href="https://www.linkedin.com/in/shirish-singh/" target="_blank">
            <div class="div-linkedin">
                <img src="https://drive.google.com/uc?export=view&id=1q-4Kr6BtaGHe9OmFT2xN4gLKJziu9ivU" alt="linkedin" id="linkedin-icon">
                <span>@shirish-singh</span>
            </div>
        </a>
        
    </div>
    
    <div class="member-1">
        <img src="https://drive.google.com/uc?export=view&id=1fRs44xrkeNaJPkXSxkWijX9PIrE08G7O" alt="" class="profile-img">
        <h4>Chaitanya Khandare</h4>
        <hr>
        <p>Undergrad CSE @ MITWPU, Pune</p>
        <p>Currently in 2nd year</p>

        <a href="https://www.linkedin.com/in/chaitanyark/" target="_blank">
            <div class="div-linkedin">
                <img src="https://drive.google.com/uc?export=view&id=1q-4Kr6BtaGHe9OmFT2xN4gLKJziu9ivU" alt="linkedin" id="linkedin-icon">
                <span>@chaitanyark</span>
            </div>
        </a>
        
    </div>
    
    <div class="member-1">
        <img src="https://drive.google.com/uc?export=view&id=131OVON-KMD8zt4yhZ4Crs1gJBPK2upbM" alt="" class="profile-img">
        <h4>Gauri Jagdale</h4>
        <hr>
        <p>Undergrad CSE @ MITWPU, Pune</p>
        <p>Currently in 2nd year</p>

    </div>

</div>

{% endblock body %}
