
{% extends "index.html" %}
{% load static %}

{% block body %}

<div class="bot-info">
    This is a healthcare chatbot that uses Worqhat's model to interact with users, ask about their symptoms, and provide preliminary health advice and information.
</div>

<div class="medical-container">
    
    <div class="medical-left">
        <div class="medical-title">
            Medical Diagnosis Bot
        </div>
        
        <form method="post" action="/medicalDiag"> 
            {% csrf_token %}
            <!-- INPUT FIELDS -->
            <div class="input-fields">
                
                <div class="input-name">
                    <p id="normal-text-medical">Name</p>
                    <input type="text" name="name" id="name" class="input-name-css" placeholder="Enter your name" required>
                </div>
                
                <div class="input-age">
                    <p id="normal-text-medical">Age</p>
                    <input type="number" name="age" id="age" class="input-number-css" placeholder="Age" required>
                </div>
                
                <div class="input-gender">
                    <p id="normal-text-medical">Gender</p>
                    <select name="gender" id="gender" class="input-select-css" required>
                        <option selected="selected" disabled>Choose Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                
                <div class="input-symptoms">
                    <p id="normal-text-medical">Please tell us about your symptoms</p>
                    <textarea name="symptoms" rows="14" cols="12" wrap="soft" class="input-symptoms-css" placeholder="Please tell us about your symptoms" required></textarea>
                </div>
                
                <div class="input-duration">
                    <p id="normal-text-medical">Duration of your Symptoms (in days)</p>
                    <input type="number" name="duration" id="duration" class="input-number-css" placeholder="Duration of Symptoms (in days)" required>
                </div>
                
                <div class="input-severity">
                    <p id="normal-text-medical">Severity of your symptoms</p>
                    <select name="severity" id="severity" class="input-select-css" required>
                        <option selected="selected" disabled>Choose Severity</option>
                        <option value="low">Low</option>
                        <option value="mild">Mild</option>
                        <option value="severe">Severe</option>
                    </select>   
                </div>
                
                <button type="submit" class="input-submit-button">
                    Diagnose the disease
                </button>
            </div>
        </form>
    </div>

    <div class="medical-right">
        <img src="/static/doctorImg2.png" alt="doctor Image">
    </div>
    
</div>


<p id="diag-result-text">Clicking on Diagnose button to get result:</p>
<div class="diagnosis-output">

    <div class="diagnosis-actual-output">
        <p>
            {{ output }}
        </p>
    </div>

    <div class="diagnosis-output-image">

        {% comment %} <img src="/static/diagOutput.png" alt="doctor output"> {% endcomment %}
        <img src="{% static 'diagOutput.png' %}" alt="doctor output">
    </div>
</div>
    
    
    
    {% endblock body %}
