{% extends "index.html" %}

{% block body %}

<div class="bot-info">
    The Physiotherapy Bot is an interactive virtual assistant designed to provide users with personalized exercise recommendations for specific types of pain. This bot can understand user input related to various pain conditions and offer tailored exercise solutions.
</div>

<div class="medical-container">
    
    <div class="medical-left">
        <div class="medical-title">
            Physiotherapy Bot
        </div>
        
        <form method="post" action="/physiobot"> 
            {% csrf_token %}
            <!-- INPUT FIELDS -->
            <div class="input-fields">
                
                <div class="input-name">
                    Name
                    <input type="text" name="name" id="name" class="input-name-css" required>
                </div>
                
                <div class="input-age">
                    Age
                    <input type="number" name="age" id="age" class="input-number-css" required>
                </div>
                
                <div class="input-gender">
                    Gender
                    <select name="gender" id="gender" class="input-select-css" required>
                        <option selected="selected" disabled>Choose Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                
                <div class="input-symptoms">
                    Type of pain you are suffering from 
                    <textarea name="paintype" rows="14" cols="12" wrap="soft" class="input-symptoms-css" placeholder="knee pain, back pain, etc" required></textarea>
                </div>
                
                <div class="input-duration">
                    Duration of your Symptoms (in days)
                    <input type="number" name="duration" id="duration" class="input-number-css" required>
                </div>
                
                <div class="input-severity">
                    Severity of your symptoms
                    <select name="severity" id="severity" class="input-select-css" required>
                        <option selected="selected" disabled>Choose Severity</option>
                        <option value="low">Low</option>
                        <option value="mild">Mild</option>
                        <option value="severe">Severe</option>
                    </select>
                </div>
                
                <button type="submit" class="input-submit-button">
                    Find Exercises
                </button>
            </div>
        </form>
    </div>

    <div class="medical-right">
        <img src="/static/physioImg.png" alt="doctor Image">
    </div>
    
</div>


<p id="diag-result-text">Result will be shown after clicking on Find Result button.:</p>
<div class="diagnosis-output">

    <div class="diagnosis-actual-output">
        <p>
            {{ output }}
        </p>
    </div>

    <div class="diagnosis-output-image">

        <img src="{{ exerciseimg }}" alt="ImageCon V2 API is used here to generate images releted to pain. But facing 504 error.">
    </div>
</div>
    
    
    
 {% endblock body %}
